{% extends "base.html" %}

{% block title %}
    Homepage - Urbanna
{% endblock %}

{% block content %}

    <img
    class="hero-img"
    src="{{ url_for('static', filename='fotos_site/imagem_div.png') }}"
    alt="Urbanna divulgação"
    >

    <h2>Destaques:</h2>

    <div class="container-produtos">
        {% for produto in destaques %}
            <div class="card-produto">
                <img
                    src="{{ url_for('static', filename='fotos_posts/' ~ produto.imagem) }}"
                    alt="Produto em destaque"
                >

                <p>{{ produto.descricao }}</p>
                <span>R$ {{ produto.preco }}</span>

                {% set mensagem = "Olá, eu vi esse produto " ~ produto.descricao ~ " por R$ " ~ produto.preco ~ " no site da Urbanna. Ainda tem disponível?" %}

                <a
                    class="btn-whats"
                    href="#"
                    target="_blank"
                    rel="noopener"
                >
                    Chamar no WhatsApp
                </a>

                {% if session.get("admin_logado") %}
                    <form
                        action="{{ url_for('deletar', produto_id=produto.id) }}"
                        method="POST"
                        onsubmit="return confirm('Tem certeza que deseja excluir este produto?')"
                    >
                        <button type="submit" class="btn-excluir">
                            Excluir
                        </button>
                    </form>
                {% endif %}
            </div>
        {% else %}
            <p>Nenhum produto em destaque no momento</p>
        {% endfor %}
    </div>

{% endblock %}